@import "./Style/Style.scss";
@import "../../../components.scss";
.dashboard {
    ul {
        list-style-type: none;
        padding: 0;
    }
    .db-component-base {
        background-color: #313132;
        width: 100%;
        height: 100%;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
		width: 100%;
		position: relative;
    }
}
